.benefits-button {
    text-decoration: underline;
    color: blue;
    margin-top: 20;
    margin-left: 15;
    margin-bottom: 20;
}

.alt-user-image {
    font-size: 80;
}

.submit-button.active {
    background-color: #F03B59;
}

.submit-button {
    background-color: #C7C7CC;
    margin: 10 15;
}

.state-dropdown {
    font-size: 20;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.editPlan {
    text-align: right;
     color: blue;
}

.cancel-button {
    background-color: gray;
    margin-left: 15px;
}